<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="escom.polirooms">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"></uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@drawable/polirooms_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/polirooms_round_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".terms_and_conditions"></activity>
        <activity android:name=".reg_arrendador_form" />
        <activity android:name=".reg_husped_form" />
        <activity
            android:name=".dashboard_huesped"
            android:label="@string/title_activity_dashboard_huesped"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dashboard_arrendador"
            android:label="@string/title_activity_dashboard_arrendador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reg_verifying_message"
            android:label="@string/title_activity_reg_verifying_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reg_select_picture"
            android:label="@string/title_activity_reg_select_picture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reg_take_picture"
            android:label="@string/title_activity_reg_take_picture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reg_select_type_of_user"
            android:label="@string/title_activity_reg_select_type_of_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".verifiying_process"
            android:label="@string/title_activity_verifiying_process"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>